
    <h3 id="textP">Aqui podras Escojer que es lo que quieres hacer </h3>
    <button class="btn btn-primary"><a href="/leerqr" style="color: aliceblue;"> Leer QR </a> </button>  
    <button class="btn btn-primary"><a href="/crear" style="color: aliceblue;"> Nuevo Producto </a></button> 
    <button class="btn btn-primary"><a href="/actualizar"style="color: aliceblue;"> Actualizar Producto </a></a></button> 
    <br>
 Copyright &copy; <script>document.write(new Date().getFullYear());</script>, Jessy Javier Araiza Cervantes