<div id="header"> 
  Punto de Venta JAC
</div>
 {{!-- Barra de navegación --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a href="/"><img src="/images/Logo Tienda.png" style="height: 85px; width: 85px;" ></a>
    <a class="navbar-brand"></a>

    <h3>Super Tienda la 1ra</h3>
    <button><a href="/salir">Cerrar sesión</a></button>
  </div>
</nav>