  <div class="col">
    <h1 id="htitle">Nuevo Producto</h1>
  </div> 
   {{!-- Fomulario --}}
   <div class="formR" >
    <form action="/register" method="post" class="row g-1">
          <div class="col-md-4">
          <label for="NombreP" class="form-label">Nombre del producto </label>
          <input type="text"  id="NombreP" name="NombreP"class="form-control"  required/>
        </div>
        <div class="col-md-4">
          <label for="inputPrecio" id="Precio"class="form-label">Precio del Producto</label>
          <input type="text" class="form-control" id="Precio"name="PrecioProducto"  required/>
        </div>
        <input type="submit" value="Registrar">
        

    </form>
 
    