<div class="col">
  <h1 id="htitle">Pantalla para colocar precio</h1>
</div>
<br><br><br>
  <br /><br />
  <div class="col-12" style="padding-bottom: 105px;">
   <button class="btn btn-primary">Registrar</button>
   <button class="btn btn-primary"><a href="/" style="color: aliceblue;">Inicio</a></button>
  </div>
</div>